.container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ordersWrapper {
    text-align: left;
}

.createButton {
    display: block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.createButton:hover {
    background-color: #0056b3;
}

.ordersList {
    list-style: none;
    padding: 0;
}

.orderCard {
    padding: 15px;
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.orderImage {
    width: 100px;
    height: auto;
    margin-top: 10px;
}


.executorCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.executorInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.executorName {
    font-weight: bold;
}

.verifiedBadge {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 5px;
}

.buttonsContainer {
    display: flex;
    gap: 10px;


    .complaintButton {
        background-color: #ff9800;
        color: white;
        padding: 10px 20px;
        border-radius: 8px; /* Скругление */
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Тень */
    }

    .complaintButton:hover {
        background-color: #e68900;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Увеличение тени при наведении */
    }


    .approveButton {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border-radius: 8px; /* Скругление */
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Тень */    }
    .approveButton:hover {
        background-color: #238701;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Увеличение тени при наведении */
    }
}

/* На мобильных устройствах кнопки идут внизу */
@media (max-width: 768px) {
    .executorCard {
        align-items: center;
        text-align: center;
    }

    .buttonsContainer {
        flex-direction: column;
        width: 80%;
    }

    .complaintButton, .approveButton {
        width: 100%;
    }

    .verifiedBadge {
        align-self: center;
        margin-bottom: 5px;
    }
}
.orderHeader {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-bottom: 8px;
    border-bottom: 3px solid #67727e; /* Синяя линия */
    margin-bottom: 12px;
}

