.complaints-container {
    max-width: 800px;
    width: 100%;
    margin: 85px auto 50px auto; /* Отступ сверху для фиксации перекрытия */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование содержимого */
    justify-content: center;
    text-align: center;
}

/* Заголовок */
.complaints-container h1 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.complaints-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.complaint-item {
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 98%;
    text-align: left;
}

/* Адаптивность */
@media (max-width: 768px) {
    .complaints-container {
        width: 90%; /* Уменьшаем ширину, чтобы контейнер не выходил за пределы экрана */
        margin: 80px auto 20px auto; /* Центрирование и отступ сверху */
        padding: 15px;
        margin-bottom: 80px;
    }
    .complaint-item {
        width: 95%;
    }
}

.view-orders-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px; /* Слегка закругленные углы */
    text-decoration: none; /* Убирает подчеркивание */
    transition: background-color 0.3s, transform 0.2s; /* Плавное изменение цвета фона и эффекта нажатия */
}

.view-orders-button:hover {
    background-color: #45a049; /* Темнее при наведении */
    transform: scale(1.05); /* Легкое увеличение кнопки при наведении */
}

.view-orders-button:active {
    transform: scale(1); /* Восстановление нормального размера при клике */
    background-color: #388e3c; /* Еще темнее при клике */
}

.view-orders-button:focus {
    outline: none; /* Убираем обводку фокуса */
}

